flows1 (1).json
[{"id":"d21e4ed9.881d9","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1b84788.f5b1708","type":"ui_form","z":"d21e4ed9.881d9","name":"","label":"","group":"388eb453.4af30c","order":2,"width":0,"height":0,"options":[{"label":"dateCrawled","value":"dc","type":"text","required":true,"rows":null},{"label":"name","value":"na","type":"text","required":true,"rows":null},{"label":"seller","value":"se","type":"text","required":true,"rows":null},{"label":"offerType","value":"ot","type":"text","required":true,"rows":null},{"label":"abtest","value":"at","type":"text","required":true,"rows":null},{"label":"vehicleType","value":"vt","type":"text","required":true,"rows":null},{"label":"yearOfRegistration","value":"yr","type":"number","required":true,"rows":null},{"label":"gearbox","value":"gb","type":"text","required":true,"rows":null},{"label":"powerPS","value":"pp","type":"number","required":true,"rows":null},{"label":"model","value":"mo","type":"text","required":true,"rows":null},{"label":"kilometer","value":"km","type":"number","required":true,"rows":null},{"label":"monthOfRegistration","value":"mr","type":"number","required":true,"rows":null},{"label":"fuelType","value":"ft","type":"text","required":true,"rows":null},{"label":"brand","value":"br","type":"text","required":true,"rows":null},{"label":"notRepairedDamage","value":"rd","type":"text","required":true,"rows":null},{"label":"dateCreated","value":"da","type":"text","required":true,"rows":null},{"label":"nrOfPictures","value":"pi","type":"number","required":true,"rows":null},{"label":"postalCode","value":"po","type":"number","required":true,"rows":null},{"label":"lastSeen","value":"ls","type":"text","required":true,"rows":null}],"formValue":{"dc":"","na":"","se":"","ot":"","at":"","vt":"","yr":"","gb":"","pp":"","mo":"","km":"","mr":"","ft":"","br":"","rd":"","da":"","pi":"","po":"","ls":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":100,"y":420,"wires":[["fc28cadb.00d07"]]},{"id":"cd4d3685.0db23","type":"inject","z":"d21e4ed9.881d9","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":320,"wires":[["fc28cadb.00d07"]]},{"id":"fc28cadb.00d07","type":"function","z":"d21e4ed9.881d9","name":"","func":"global.set(\"dc\",msg.payload.dc)\nglobal.set(\"na\",msg.payload.na)\nglobal.set(\"se\",msg.payload.se)\nglobal.set(\"ot\",msg.payload.ot)\nglobal.set(\"at\",msg.payload.at)\nglobal.set(\"vt\",msg.payload.vt)\nglobal.set(\"yr\",msg.payload.yr)\nglobal.set(\"gb\",msg.payload.gb)\nglobal.set(\"pp\",msg.payload.pp)\nglobal.set(\"mo\",msg.payload.mo)\nglobal.set(\"km\",msg.payload.km)\nglobal.set(\"mr\",msg.payload.mr)\nglobal.set(\"ft\",msg.payload.ft)\nglobal.set(\"br\",msg.payload.br)\nglobal.set(\"rd\",msg.payload.rd)\nglobal.set(\"da\",msg.payload.dc)\nglobal.set(\"pi\",msg.payload.pi)\nglobal.set(\"po\",msg.payload.po)\nglobal.set(\"ls\",msg.payload.ls)\nvar apikey=\"CHKLNQ2_O1ElbB3bYY3fh4TDaezQkp53QEtKGaxcU-b9\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":360,"wires":[["69f3f691.d35ab8"]]},{"id":"69f3f691.d35ab8","type":"http request","z":"d21e4ed9.881d9","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":410,"y":440,"wires":[["ec0f7000.45c28"]]},{"id":"ec0f7000.45c28","type":"function","z":"d21e4ed9.881d9","name":"","func":"var dc = global.get('dc')\nvar na = global.get('na')\nvar se = global.get('se')\nvar ot = global.get('ot')\nvar at = global.get('at')\nvar vt = global.get('vt')\nvar yr = global.get('yr')\nvar gb = global.get('gb')\nvar pp = global.get('pp')\nvar mo = global.get('mo')\nvar km = global.get('km')\nvar mr = global.get('mr')\nvar ft = global.get('ft')\nvar br = global.get('br')\nvar rd = global.get('rd')\nvar da = global.get('da')\nvar pi = global.get('pi')\nvar po = global.get('po')\nvar ls = global.get('ls')\nvar token=msg.payload.access_token\nvar instance_id=\"0124eb98-da2d-4668-bef2-80b13419b2da\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\nmsg.payload={\"input_data\": [{\"fields\": [\"dateCrawled\", \"name\", \"seller\", \"offerType\", \"abtest\", \"vehicleType\", \"yearOfRegistration\", \"gearbox\", \"powerPS\", \"model\", \"kilometer\", \"monthOfRegistration\", \"fuelType\", \"brand\", \"notRepairedDamage\", \"dateCreated\", \"nrOfPictures\", \"postalCode\", \"lastSeen\"],\"values\": [[dc,na,se,ot,at,vt,yr,gb,pp,mo,km,mr,ft,br,rd,da,pi,po,ls]]}]}\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":360,"wires":[["d7de02a7.39f9d"]]},{"id":"d7de02a7.39f9d","type":"http request","z":"d21e4ed9.881d9","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://us-south.ml.cloud.ibm.com/v4/deployments/bf35a28f-7ad5-431a-8727-535bd7304163/predictions","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":420,"wires":[["d94a635e.72ed6"]]},{"id":"37cc5e69.e1509a","type":"debug","z":"d21e4ed9.881d9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":930,"y":300,"wires":[]},{"id":"d94a635e.72ed6","type":"function","z":"d21e4ed9.881d9","name":"","func":"msg.payload=payload\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":220,"wires":[["afa62db4.9aa8c","37cc5e69.e1509a"]]},{"id":"afa62db4.9aa8c","type":"ui_text","z":"d21e4ed9.881d9","group":"388eb453.4af30c","order":3,"width":0,"height":0,"name":"","label":"price","format":"{{msg.payload}}","layout":"row-spread","x":930,"y":500,"wires":[]},{"id":"388eb453.4af30c","type":"ui_group","z":"","name":"Default","tab":"a8e73e86.5b90b8","order":1,"disp":true,"width":"6","collapse":false},{"id":"a8e73e86.5b90b8","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]